<div id="template_1">
  <div class="byui" <%= courseClass %>>
    <h1>Generic Instruction Page</h1>
    <h1>L<span class="todo">[##]</span> <span class="todo">[Verb + Assignment Title]</span></h1>
    <p>Relevant Course Outcomes: ◯ ◯ ◯</p>
    <hr>
    <h2>Overview</h2>
    <p>In this activity, you will <span class="todo">[specify deliverable/action to be taken]</span>in <span class="todo">[time period, if any]</span>. Students must <span class="todo">[action to be taken]</span> for <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor&rsquo;s role in this activity]</span>.</p>
    <h2>Instructions </h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
      <li><span class="todo">[Any prescribed method or process for completing activity?]</span></li>
      <li><span class="todo">[Any tool requirements? If any, indicate tutorials or other helpful resources.]</span></li>
      <li><span class="todo">[Any demonstration of mastery for specific topics or competencies?]</span></li>
      <li><span class="todo">[Any submission/formatting requirements?]</span></li>
    </ol>
    <h3>Grading Rubric (You may also combine this with the submission or other requirements specified above)</h3>
    <h3>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</h3>
  </div>
</div>
<div id="template_2">
  <div class="byui" <%= courseClass %>>
    <h1>Prepare - Read/Watch/Listen</h1>
    <h1>L<span class="todo">[##]</span> <span class="todo">[Verb + Assignment Title]</span></h1>
    <p>Relevant Course Outcomes: ◯ ◯ ◯</p>
    <hr>
    <h2>Overview</h2>
    <p><span class="todo">[Read/Watch/Listen to]</span> <span class="todo">[name of material]</span>. As you <span class="todo">[read/watch/listen to]</span> <span class="todo">[name of material]</span>, <span class="todo">[watch for, pay attention to, etc.]</span> <span class="todo">[significant topic to be explored]</span>. </p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
      <li><span class="todo">[Process Requirements? If any, indicate]</span></li>
      <ol>
        <li><span class="todo">[List of things to read/watch/listen to]</span></li>
      </ol>
      <li><span class="todo">[Tool Requirements? If any, indicate tutorials or other helpful resources]</span></li>
    </ol>
    <h3>Grading Rubric (You may also combine this with the submission or other requirements specified above)</h3>
    <h3>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</h3>
  </div>
</div>
<div id="template_3">
  <div class="byui" <%= courseClass %>>
    <h1>Prepare - Read/Watch/Listen (Instructions in another activity)</h1>
    <h1>L<span class="todo">[##]</span> <span class="todo">[Verb + Assignment Title]</span></h1>
    <p>Relevant Course Outcomes: ◯ ◯ ◯</p>
    <hr>
    <h2>Overview </h2>
    <h2>Preparation</h2>
    <p>In order to complete <span class="todo">[name of TOA/Ponder/Prove activity]</span>, you will need to <span class="todo">[read/watch/listen to]</span> <span class="todo">[name of material]</span>. As you do so, <span class="todo">[watch for, pay attention to, etc.]</span> <span class="todo">[significant topic(s) to be explored]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
      <li><span class="todo">[Specify what students are supposed to with the topic they are exploring]</span></li>
    </ol>
    <h3>Grading Rubric (You may also combine this with the submission or other requirements specified above)</h3>
    <h3>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</h3>
  </div>
</div>
<div id="template_4">
  <div class="byui" <%= courseClass %>>
    <h1>Prepare - Pre-Assesment</h1>
    <h1>L<span class="todo">[##]</span> <span class="todo">[Verb + Assignment Title]</span></h1>
    <p>Relevant Course Outcomes: ◯ ◯ ◯</p>
    <hr>
    <h2>Overview </h2>
    <p>In this activity, you will complete a pre-assessment todetermine your understanding of <span class="todo">[describe and highlight what must be understood]</span>. This will <span class="todo">[indicate purpose]</span>. Your instructor will <span class="todo">[indicate instructor&rsquo;s role in this activity]</span>.</p>
    <h2>Instructions </h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
      <li><span class="todo">[Quiz responses should adhere to the prescribed method]</span></li>
      <ol>
        <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
        <li><span class="todo">[Indicate any unique steps needed to complete]</span></li>
        <li><span class="todo">[Indicate what resources, if any, are permitted]</span></li>
      </ol>
      <li><span class="todo">[Quiz responses should utilize the appropriate tool(s)]</span></li>
      <ol>
        <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span>.</li>
      </ol>
      <li><span class="todo">[Quiz responses should adhere to submission requirements]</span></li>
      <ol>
        <li><span class="todo">[If group quiz, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
      </ol>
    </ol>
    <h3>Grading Rubric (You may also combine this with the submission or other requirements specified above)</h3>
  </div>
</div>
<div id="template_5">
  <div class="byui" <%= courseClass %>>
    <h1>Prepare - Interview</h1>
    <h1>L<span class="todo">[##]</span> <span class="todo">[Verb + Assignment Title]</span></h1>
    <p>Relevant Course Outcomes: ◯ ◯ ◯</p>
    <hr>
    <h2>Overview </h2>
    <p>In this activity, you will interview <span class="todo">[describe and highlight interviewee]</span> to <span class="todo">[highlight needed action&mdash;identify, research, demonstrate, etc.]</span> <span class="todo">[describe and highlight what information must be gained]</span>. Your instructor will <span class="todo">[indicate instructor&rsquo;s role in this activity]</span>.</p>
    <h2>Instructions </h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
      <li><span class="todo">[Interview should adhere to the prescribed method]</span></li>
      <ol>
        <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
        <li><span class="todo">[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]</span></li>
        <li><span class="todo">[Indicate any resources, documents, or artifacts needed to help complete interview]</span></li>
      </ol>
      <li><span class="todo">[Interview should utilize the appropriate tool(s)]</span></li>
      <ol>
        <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span>.</li>
      </ol>
      <li><span class="todo">[Interview should show clear understanding of topic(s)]</span></li>
      <ol>
        <li><span class="todo">[Indicate specific topics to cover and when]</span>.</li>
      </ol>
      <li><span class="todo">[Interview should adhere to submission requirements]</span></li>
      <ol>
        <li><span class="todo">[If group interview, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
        <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
      </ol>
    </ol>
    <h3>Grading Rubric (You may also combine this with the submission or other requirements specified above)</h3>
  </div>
</div>
<!--
<div id="template_6">
<div class="byui" <%= courseClass %>>
  <h1>Prepare - Concept Matching</h1>
</div>
<div id="template_7">
<div class="byui" <%= courseClass %>>
  <h1>Prepare - Note Taking</h1>
</div>
<div id="template_8">
<div class="byui" <%= courseClass %>>
  <h1>Prepare - Information Gathering</h1>
</div>
<div id="template_9">
<div class="byui" <%= courseClass %>>
  <h1>Prepare - Scholarly Research</h1>
</div>
<div id="template_10"
<div class="byui" <%= courseClass %>>
</div>
  <h1>Prepare - Learning Contract</h1>
</div>
<div id="template_11"
<div class="byui" <%= courseClass %>>
</div>
  <h1>Prepare - Project Plan</h1>
</div>
<div id="template_12"
<div class="byui" <%= courseClass %>>
</div>
  <h1>Prepare - Sign Up</h1>
</div>
<div id="template_13"
<div class="byui" <%= courseClass %>>
</div>
  <h1>Prepare - Quiz Writing</h1>
</div>
<div id="template_14"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Presentation</h1>
</div>
<div id="template_15"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Case Study</h1>
</div>
<div id="template_16"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Field Experience</h1>
</div>
<div id="template_17"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Group Problem Solving</h1>
</div>
<div id="template_18"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Group Project</h1>
</div>
<div id="template_19"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Icebreaker</h1>
</div>
<div id="template_20"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Insight Sharing</h1>
</div>
<div id="template_21"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Jigsaw Teaching</h1>
</div>
<div id="template_22"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Peer Accountability</h1>
</div>
<div id="template_23"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Peer Feedback</h1>
</div>
<div id="template_24"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Q&amp;A/Support Forum</h1>
</div>
<div id="template_25"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Role Play Discussion</h1>
</div>
<div id="template_26"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Structured Debate</h1>
</div>
<div id="template_27"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Study Group</h1>
</div>
<div id="template_28"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>TOA - Topic Discussion</h1>
</div>
<div id="template_29"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Unanswered Questions</h1>
</div>
<div id="template_30"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Quiz</h1>
</div>
<div id="template_31"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Exam</h1>
</div>
<div id="template_32"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Presentation</h1>
</div>
<div id="template_33"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Project</h1>
</div>
<div id="template_34"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Essay</h1>
</div>
<div id="template_35"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Worksheet-Workbook</h1>
</div>
<div id="template_36"
<div class="byui" <%= courseClass %>>
</div>>
  <h1>Ponder/Prove - Portfolio</h1>
</div>
-->

